<div class="container">
	<div class="row services">
		<div class="col-xs-12 col-md-6">
			<div class="services-block">
				<div class="service-summary">
					<h3>Photography by Palmetto</h3>
				</div>
				<div class="services-body">
					<%= image_tag'photography.jpg',  class:'img img-responsive'%>
				</div>
				<div class="services-footer">
					<h4><%= link_to '<span class="glyphicon glyphicon-chevron-right
	                pull-right"></span> Contact Us'.html_safe, new_contact_path %> </h4>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 service-description">
			<h3>Photography services</h3>
			<blockquote>
				Our team of professional photographers have keen eyes to capture 
				splendid moments to behold.

				<h4>Our expertise include:</h4>
				<ul>
					<li>Portrait Sessions</li>
					<li>Wedding Coverage</li>
					<li>Event Coverage</li>
					<li>ID Photos</li>
					<li>Framing Services</li>
				</ul>
			</blockquote>
		</div>
	</div>
	<hr/>
	<div class="row services">
		<div class="col-xs-12 col-md-6">
			<div class="services-block">
				<div class="service-summary">
					<h3>Videography</h3>
				</div>
				<div class="services-body">
					<%= image_tag'video.jpg',  class:'img img-responsive'%>
				</div>
				<div class="services-footer">
					<h4><%= link_to '<span class="glyphicon glyphicon-chevron-right
	                pull-right"></span> Contact Us'.html_safe, new_contact_path %> </h4>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 service-description">
			<h3>Capturing memories</h3>
			<blockquote>
				Our team of professional photographers have keen eyes to capture 
				splendid moments to behold.

				<h4>Our expertise include:</h4>
				<ul>
					<li>Portrait Sessions</li>
					<li>Wedding Coverage</li>
					<li>Event Coverage</li>
					<li>ID Photos</li>
					<li>Framing Services</li>
				</ul>
			</blockquote>
		</div>
	</div>
	<hr>
	<div class="row services">
		<div class="col-xs-12 col-md-6">
			<div class="services-block">
				<div class="service-summary">
					<h3>Printing Services</h3>
				</div>
				<div class="services-body">
					<%= image_tag'printing.jpg',  class:'img img-responsive'%>
				</div>
				<div class="services-footer">
					<h4><%= link_to '<span class="glyphicon glyphicon-chevron-right
	                pull-right"></span> Contact Us'.html_safe, new_contact_path %> </h4>
				</div>
			</div>
		</div>
		<div class="col-xs-12 col-md-6 service-description">
			<h3>Capturing memories</h3>
			<blockquote>
				Our team of professional photographers have keen eyes to capture 
				splendid moments to behold.

				<h4>Our expertise include:</h4>
				<ul>
					<li>Portrait Sessions</li>
					<li>Wedding Coverage</li>
					<li>Event Coverage</li>
					<li>ID Photos</li>
					<li>Framing Services</li>
				</ul>
			</blockquote>
		</div>
	</div>
</div>


